{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-md col-md-8 text-center">
		<table class="table table-striped|sm|bordered|hover|inverse table-inverse table-responsive">
			<thead class="thead-inverse|thead-default">
				<tr>
					<th>Subject ID</th>
                    <th>Subject Code</th>
					<th>Subject Name</th>
					<th>Subject Image</th>
				</tr>
			</thead>
			<tbody>
				{% for subject in subjects %}
					<tr>
						<td scope="row">{{ subject.id }}</td>
						<td>
							{{ subject.code }}
						</td>
                        <td>
                            {{ subject.name}}
                        </td>
						<td>
							<a href="{{ path('subject_detail', {'id': subject.id })}}">
								<img src="{{ asset('pictures/symfony.png') }}" width="150" height="120">
							</a>	
						</td>
						<td>
							<a href="{{ path('subject_edit', {'id': subject.id })}}">
								<img src="{{ asset('pictures/edit.png')}}" height="20" width="20">
							</a>
						</td>
						<td>
							<a href="{{ path('subject_delete', {'id': subject.id })}}"
							onclick = "return confirm('Are you sure?')"
							>
								<img src="{{ asset('pictures/delete.png')}}" height="20" width="20">
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
